.container{
  width: 50%;
  position: relative;
}

#time_count{
  border: 2px solid #9289BA;
  height: 100px;
  width: 500px;
}

h2{
  margin: 20px;
  font-family: "Coming Soon", "Comic Sans MS", "Comic Sans MS", sans-serif;
  font-size: 3em;
  color: #92357b;
}

#breath{
  margin: 20px;
  font-family: "Coming Soon", "Comic Sans MS", "Comic Sans MS", sans-serif;
  font-size: 3em;
  color: #199c2f;
}