<div class="container">
  <h1 id="breath">Breathe!</h1>
  <div id="time_count">
    <h2>Time: </h2>
  </div>
</div>


<ul id="record">
  <li id="max_in">Max Inhale:</li>
  <li id="max_ex">Max Exhale:</li>
</ul>

<ul id="current_measure">
</ul>